##############################
# Tulip config
##############################

TULIP_MONGO="mongo:27017"
TRAFFIC_DIR_HOST="./captures"
TRAFFIC_DIR_DOCKER="/traffic"

##############################
# Game config
##############################

TICK_START=(Get-Date -Format "yyyy-MM-ddTHH:mm+02:00")
TICK_LENGTH=180000
# The flag format in regex
FLAG_REGEX="[A-Z0-9]{31}="

##############################
# FLAGID CONFIGS
##############################

# # enable flagid scrapping
FLAGID_SCRAPE=1
# # enable flagid scanning
FLAGID_SCAN=1
# # Flag Lifetime in Ticks (-1 for no check, pls don't use outside testing)
FLAG_LIFETIME=5
# # Flagid endpoint currently Testendpoint in docker compose
FLAGID_ENDPOINT='http://10.10.0.1:8081/flagIds'
# # VM IP (inside gamenet)
VM_IP='10.10.1.1'
TEAM_ID='39'
SSH_USER='root'
SSH_PASSWORD='password'

INTERFACE='game'